*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #413543;
}
nav ul{
    margin-left: 700px;
}

nav ul li{
    list-style-type: none;
    margin: 20px;
    padding: 0px;
    display: inline;
    color: #F3E8FF;

}
nav{
    height: 50px;
    background-color: #454545;
    display: flex;
    align-items: center;
}

nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #FF6000; 
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 40px;
    color: #FFDEB4;
    font-family:'Times New Roman', Times, serif;
}

.hero{
    /* border: 2px solid red; */
    display: flex;
    height: 575px;
    /* background-color: #413543; */
    
}

.heroText{
    /* border: 2px solid red; */
    width: 50vw;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.heroText h1{
    margin-top: 200px;
    margin-left: auto;
    color: #FFEA20;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
    font-size: 40px;
}

.heroText h3{
    margin-top: 40px;
    margin-left: auto;
    font-family: 'Oxygen', sans-serif;
    /* color: #FF8B13; */
    color: whitesmoke;
    font-size: 20px;
    
}

.heroImg{
    /* border: 2px solid red; */
    width: 50vw;
    display: flex;
    align-items: center;
}

.heroImg img{
    height: 75vh;
    /* border-radius: 100%; */
    display: block;
    margin: 0 auto;
}

.hero .button{
    display: flex;
    align-items: center;
    border: 2px solid red;

}

.blog{
    /* border: 2px solid red; */
    display: flex;
    height: 575px;
    background-color: #0B2447;
    
}

.blog .blogcard-1{
    /* border: 2px solid red; */
    width: 50vw;
    display: flex;
    align-items: center;
}

.blog .blogcard-1 .thumbnail{
    padding: 20px;
    border: 2px solid #B3E5BE;
    border-radius: 16px;
    background-color: #060047;
    height: 62vh;
    width: 40vw;
    margin-left: 50px;
    
    

}

.blog .blogcard-1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.blog .blogcard-1 .thumbnail h1{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #27E1C1;
}

.blog .blogcard-1 .thumbnail a{
    text-decoration: none;
    color: #FDD36A;
    font-family: 'Montserrat', sans-serif;
    font-size: small;

}

.blog .blogcard-1 .thumbnail a:hover{
    text-decoration: none;
    color: #FF0303;
    font-family: 'Montserrat', sans-serif;
    font-size: small;

}

.blog .blogcard-2{
    /* border: 2px solid red; */
    width: 50vw;
    display: flex;
    align-items: center;
}

.blog .blogcard-2 .thumbnail{
    padding: 20px;
    border: 2px solid #B3E5BE;
    border-radius: 16px;
    background-color: #060047;
    height: 62vh;
    width: 40vw;
    margin-left: 50px;
}

.blog .blogcard-2 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.blog .blogcard-2 .thumbnail h1{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #27E1C1;
}

.blog .blogcard-2 .thumbnail a{
    text-decoration: none;
    color: #FDD36A;
    font-family: 'Montserrat', sans-serif;
    font-size: small;

}

.blog .blogcard-2 .thumbnail a:hover{
    text-decoration: none;
    color: #FF0303;
    font-family: 'Montserrat', sans-serif;
    font-size: small;

}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #191825;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0 30px;
  }